@media only screen and (max-width: 2000px) {
  .about-page{
    width: 100%;
    margin-left: 100px;
    height: 100vh;
    overflow: hidden;
  }
  .about-container {
    margin-left: 15%;
    color: rgb(20, 11, 53);
    justify-content: space-around;
  }

  .about-container h1 {
    color: #d29bf4;
    padding-left: 20px;
    text-decoration: underline;
    font-family: "Syne";
  }
  .about-section {
    min-height: fit-content;
    border: solid 5px white;
    border-radius: 15px;
    overflow: scroll;
    background-color: rgba(219, 219, 219);
    text-align: justify;
    width: 70%;
    margin: 0;
    font-weight: lighter;
  }

  .about-section p {
    padding-left: 50px;
    padding-right: 20px;
    font-size: 1.3rem;
    font-family: "Syne";
  }

  .profile-pic{
    margin-top: 100px;
    margin-left: 100px;
    height: 40vh;
    z-index: -1;
  }
  .about-header-container{
    display: flex;
    height: 50vh;
  }
  .quote-container{
    position: relative;
    display: inline-block;
  }
  .quote{
    max-width: 60%;
    display: block;
    margin-top: 45px;
    transform: rotate(3deg);
  }
  .quote-text{
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    position: absolute;
    top: 100px; 
    left: 120px; 
    transform: translate(-50%, -50%);
    color: #d29bf4;
    font-size: 34px; /* Adjust as needed */
    text-align: center;
    padding: 10px; /* Adjust as needed */
  }
}
@media only screen and (max-width: 868px) {
  .quote-container{
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .about-page{
    margin-left: 0px;
    width: 100%;
    height: 100vh;
  }
  .quote-container{
    display: none;
  }
  .about-header-container{
    display: flex;
    height: 40vh;
  }
  .quote-text{
    display: none;
  }
  .about-container {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .profile-pic {
    border-radius: 0;
    border-style: none;
    width: 250px;
    height: 250px;
    margin-top: 26%;
  }
  .about-section {
    border: solid 5px white;
    border-radius: 15px;
    height: fit-content;
    background-color: rgba(219, 219, 219);
    /* text-align: right; */
    overflow: scroll;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    height: 55vh;
  }

  .about-section p {
    padding-left: 20px;
    text-align: justify;
    padding-right: 20px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 30px;
  }
}
