
@media only screen and (max-width: 2500px) {
  .contact-page{
    width: calc(100% - 100px);
    margin-left: 100px;
    height: 100%;
    margin-top: calc((100vh - 70vh) / 2);
    overflow: hidden;
  }

.contact-container {
  border: solid 5px white;
  border-radius: 10px;
  height: 70vh;
  width: 75%;
  margin: auto;
  background: linear-gradient(to bottom right, #403F44, #1E1B32);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Syne';
  overflow: scroll;
}
.contact-container h1{
  margin-top: 5%;
  text-align: center;
}
.contact-form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  width: 375px;
  font-family: 'Syne';
  border-style: none;
  border-radius: 10px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-form textarea {
  width: 375px;

  font-family: 'Syne';
  border-style: none;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: grey;
  transition: color 0.3s ease;
}

.send-btn {
    margin-top: 30px;
    padding: 12px 30px 12px 30px;
    text-transform: uppercase;
    border-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 250px;
    padding: 12px 0px 12px 0px;
    color: #edf5e1;
    text-transform: uppercase;
    font-family: 'Syne';
    letter-spacing: .3rem;
    background-color: #78877e;
    transition: linear .3s;
    font-weight: lighter;
    z-index: 5;
}

.send-btn:hover{
    color: rgb(0, 0, 0);
    background-color: #d29bf4;
    box-shadow: 0 0 10px #d29bf4, 0 0 20px #d29bf4;
    cursor: pointer;
}
.contact-pic{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
}
@media only screen and (max-width: 480px) {
  .contact-page{
    width: 100%;
    margin-left: 0px;
    height: 100vh;
    margin-top: 0px;
    overflow: hidden;
  }
  .contact-container{
    margin-top: 130px;
    min-height: fit-content;
    z-index: 2;
  }
  .contact-container input{
    width: 90%;
    z-index: 5;
  }
  .contact-container textarea{
    width: 90%;
    height: 50px;
    z-index: 5;
  }
  .nav li{
      visibility: hidden;
      font-size: .1rem;
  }
  .contact-pic{
    display: none;
  }

}