@media only screen and (max-width: 2000px) {

.home-contents{
    color: #5cdb95;
    margin-top: 40px;
}

.home-contents h5{
    position: fixed;
    margin-left: 200px;
    margin-top: 10%;
    color: #317773;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}

.home-contents h1{
    position: fixed;
    margin-left: 200px;
    margin-top: 12%;
    font-size: 8rem;
    color: #a887fb;
}

.home-text h3{
    position: fixed;
    margin-left: 200px;
    margin-top: 23%;
    font-size: 2.2rem;
    color: #317773;
    font-family: 'Courier New', Courier, monospace;

}

.home-text p{
    position: fixed;
    margin-left: 200px;
    margin-top: 28%;
    width: 400px;
    color: #708276;
    font-family: 'Courier New', Courier, monospace;
}

.home-para{
    text-align: justify;
}

.contact-btn{
    margin-left: 200px;
    margin-top: 37%;
    width: 400px;
    border-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(168, 135, 251);
    border-radius: 5px;
    padding: 12px 0px 12px 0px;
    color: #edf5e1;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: .3rem;
    background-color: #78877e;
    transition: linear .3s;
    font-weight: lighter;
}

.contact-btn:hover{
    color: rgb(0, 0, 0);
    background-color: #65ff91;
    border-color: #65ff91;
    box-shadow: 0 0 10px #65ff91, 0 0 20px #65ff91;
    cursor: pointer;
}

}


@media only screen and (max-width: 480px) {
    .home-container{
        height: 10vh;
    }
    .home-contents h1{
        position: fixed;
        font-size: 2.7rem;
        margin-top: 52%;
    }
    .home-contents h5{
        position: fixed;
        margin-top: 45%;
        font-size: 1rem;
    }
    .home-text h3{
        position: fixed;
        margin-top: 70%;
        font-size: .8rem;
        width: 250px;
        text-align: left;
    }
    .home-text p{
        position: fixed;
        margin-top: 85%;
        font-size: .7rem;
        width: 250px;
    }

    .contact-btn{
        position: fixed;
        bottom: 0;
        margin-left: none;
        left: 0;
        margin-bottom: 24%;
    }

    #tsparticles {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
      }
      .footer{
        background-color: rgb(5, 5, 33, .9);
      }
      .footer li{
        text-decoration: none;
        list-style: none;
    }
    
    .footer span{
        color: rgb(134, 255, 159);
    }
    
}